 ---
layout: default
 ---

<div class='o-wrapper'>
    <div class='o-grid'>
        <div class='o-grid__col'>
            <article class='c-post'>
                <div style="display: flex; height: 25px">
                    <h4 class="c-post__title">DevOps</h4>
                    <div class='c-content'>
                        <a href="{{site.baseurl}}/">도커 컴포즈 사용하</a>
                        <!--                     {% for post in page.posts %}-->
                        <!--                        {% include post-card.liquid %}-->
                        <!--                    {% endfor %}-->
                        <!--                    <p class="c-post__title">DevOps</p>-->
                        <!--                    <p class="c-post__title">Python</p>-->
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>