---
layout: default
---
<!--<ul class="posts-list">-->
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}

<!--</ul>-->


<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <h4>{{ page.tag }}</h4>
    </div>
  </div>

  <div class='o-grid'>
     {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
<!--    {% for post in page.posts %}-->
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>